.terraform/
.terraform.lock.hcl
*.zip

# dependencies
api/node_modules

# testing
api/coverage

# production
api/build

# misc
api/.DS_Store
api/.env.local
api/.env.development.local
api/.env.test.local
api/.env.production.local

api/npm-debug.log*
api/yarn-debug.log*
api/yarn-error.log*
